@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.dark body {
  background-color: #111827;
  color: #f9fafb;
}
